@use "sass:color";
// Імпортуємо змінні та міксини
@use '../common/variables' as v; // кольори, відступи, типографіка
@use '../common/mixins' as m;    // clearfix, flex-center, respond-to тощо

footer {                                     // стиль для <footer>
  @include m.flex-center;                      // вмикаємо flex і центруємо контент
  background-color: v.$secondary-color;        // фон футеру — допоміжний зелений
  color: #fff;                               // білий колір тексту
  padding: v.$gutter-width v.$spacing-unit;      // вертикальні та горизонтальні відступи
  text-align: center;                        // вирівнювання тексту по центру
  font-family: v.$font-family-base;            // базовий шрифт сайта
}
