@use "sass:color";
// Імпортуємо змінні та міксини
@use '../common/variables' as v; // кольори, шрифти, відступи
@use '../common/mixins' as m;    // flex-center, respond-to, transition тощо

header {
  width: 100%;
  margin: 0 auto;
  background-color: v.$primary-color;           // фон — основний синій колір

  color: #fff;                                // білий текст
  text-align: center;                         // вирівнювання тексту по центру

  h1 {
    font-family: v.$font-family-base;           // базовий шрифт
    font-size: v.$font-size-base * 2;           // великий розмір шрифту
    font-weight: v.$heading-font-weight;        // жирний шрифт
    margin-top: v.$spacing-unit;                // відступ зверху
    margin-bottom: v.$spacing-unit;             // відступ знизу
  }

  nav {
    margin: 10px auto;
    width: 100%;
    max-width: 1200px;                          // обмежуємо ширину вмісту// стилі для <header>

    @include m.flex-row;

    flex-wrap: nowrap;

    ul {
      @include m.flex-center;                   // горизонтальне вирівнювання списку

      li {
        a {
          color: #fff;                        // білий текст
          font-weight: v.$body-font-weight;     // стандартна товщина

          &:hover {
            color: color.scale(v.$primary-color, $lightness: 30%); // світліший при наведенні
          }
        }
      }
    }
  }

  img {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;                          // обмежуємо ширину вмісту// стилі для <header>
    height: auto;                             // автоматична висота
  }
}
