@import "./common/_normalize.scss";

// === COMMON ===
@import 'common/variables';   // Глобальні змінні (кольори, типографіка, відступи)
@import 'common/mixins';      // Глобальні міксини (transition, breakpoints, flex-center тощо)

// === ELEMENTS ===
@import 'elements/buttons';   // Стилі для кнопок
@import 'elements/inputs';    // Стилі для input, textarea, select

// === PARTS ===
@import 'parts/header';       // Стилізація <header>
@import 'parts/main';         // Стилізація <main> та секцій
@import 'parts/footer';       // Стилізація <footer>

html,
body {
  height: 100%;                  // щоб працювала 100% висота всередині body
  width: 100%;
  margin: 0 auto;
  scroll-behavior: smooth;
}

body {
  @include flex-column(0);
  min-height: 100vh;             // загальна висота body — весь екран
}

// Гарантуємо, що <main> займе весь вільний простір між header і footer
main {
  flex: 1;                       // автоматичне розтягнення між шапкою і футером
}


