/* Error: Undefined mixin.
 *    ,
 * 10 |   @include flex-center;                       // Центруємо вміст кнопки по обох осях
 *    |   ^^^^^^^^^^^^^^^^^^^^
 *    '
 *   styles\SCSS\elements\_buttons.scss 10:3  @use
 *   styles\SCSS\main.scss 8:1                root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 10 \2502    @include flex-center;                       // \426 \435 \43d \442 \440 \443 \454 \43c \43e  \432 \43c \456 \441 \442  \43a \43d \43e \43f \43a \438  \43f \43e  \43e \431 \43e \445  \43e \441 \44f \445 \d\a    \2502    ^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   styles\\SCSS\\elements\\_buttons.scss 10:3  @use\a   styles\\SCSS\\main.scss 8:1                root stylesheet";
}
