body{
    /*background-color: rgba(145, 204, 165, 0.54);*/
    background-image: url("../images/Pikachu.webp"),url("../images/forest.jpg") ;
    background-repeat: no-repeat, no-repeat;
    background-size: 50%, cover;
    background-attachment: fixed, scroll;
    background-position: center center;
}

article{
    background-color: blanchedalmond;
    opacity: 0.9;
    width: 90%;
    margin: 10px auto;
    padding: 20px;
    border-style: solid;
    border-color: green;
    border-width: 10px;
    border-radius: 16px;
    box-sizing: border-box;
}

h2{
    color: rgb(255,0,0);
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
}
p{
    margin: 10px auto;
}

.p_header{
    text-align: center;
    font-size: 24px;
    color: coral;
}

#p1{
    font-weight: bold;
    color: cornflowerblue;
}

.text_green{
    color: green;
}

.text_small{
    font-size: 18px; /* Comment */
    background-color: beige;
    padding: 2px;
    box-sizing: border-box;
}

.text_nav{
    border: 1px solid black;
    padding: 2px;
    background-color: aqua;
}
